extends emailBase

block append title
  title Simple Transactional Email
  link(
  ref="email.css" 
  rel="stylesheet"
  )

block content
  p Hi #{firstName}
  p
    | Click on the link to reset password
  table.btn.btn-primary(
    cellspacing="0" 
    cellpadding="0" 
    border="0" 
    role="presentation"
  )
    tbody
      tr
        td(align="left")
          table(
            cellspacing="0" 
            cellpadding="0" 
            border="0" 
            role="presentation"
          )
            tbody
              tr
                td
                  a(
                    target="_blank" 
                    href=url
                  ) Click on the button to reset Password
  p 
    | please don't share this mail to any one
  p
    | For any Queries please contact Bavith Vemana
  p Good luck!

block footer
  span.apple-link @Natours
  br
  | You’re receiving this email because you requested a password reset.